@CHARSET "UTF-8";

/*######## Smart Green ########*/
.smart-green {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin-left: auto;
	margin-right: auto;
	height:100%;
	max-width: 100%;
	background: #F8F8F8;
	padding: 30px 30px 20px 30px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.smart-green h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 0px 20px 40px;
	display: block;
	margin: -30px -30px 10px -30px;
	color: #FFF;
	background: #9DC45F;
	text-shadow: 1px 1px 1px #949494;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #89AF4C;
}

.smart-green h3{
	font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.smart-green h1>span {
	display: block;
	font-size: 11px;
	color: #FFF;
}

.smart-green label {
	display: block;
	margin: 0px 0px 5px;
	clear: both;
}

.smart-green label>span {
	float: left;
	margin-top: 10px;
	color: #5E5E5E;
}

.smart-green input[type="text"], .smart-green input[type="file"], .smart-green input[type="email"],
	.smart-green textarea, .smart-green select, .oneline {
	float:right;
	color: #555;
	height: 30px;
	line-height: 15px;
	padding: 0px 0px 0px 10px;
	margin-top: 2px;
	width:70%;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
	box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
	font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-green input[type="file"]{
	border: none;
}

.smart-green textarea {
	height: 100px;
	padding-top: 10px;
}

.smart-green select {
	background: url('down-arrow.png') no-repeat right,
		-moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
	background: url('down-arrow.png') no-repeat right,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB),
		color-stop(100%, #E9E9E9));
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	height: 30px;
	width: 100%;
}

.smart-green .button {
	background-color: #9DC45F;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-border-radius: 5px;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #949494;
}

.smart-green .button:hover {
	background-color: #80A24A;
}

.oneline {
	margin: 0 0;
	padding: 0 0;
	color: white;
	float: right;
	margin: 10px auto;
	padding-bottom: 10px;
	text-align: center;
}

.oneline select {
/* 	background-color: #E27575; */
}

.div1, .div2, .div3{
	color:white;
	text-align: center;	
	float: right;
}

.div1 {
	width: 33%;
}

.div2 {
	width: 33%;
}

.div3 {
	width: 34%;
}

.div1 div {
	background-color: red;
}

.div2 div {
	background-color: green;
}

.div3 div {
	background-color: blue;
}