@CHARSET "UTF-8";


/*######## Smart Green ########*/
.smart-green {
	max-width: 50%;
}

#oneline, #search-form input{
	width: 100%;
}

.line {
	margin: 50px 0;
}

.date-pick{
	float: left;
	margin-right: 50px;
	width: 16px;
	height: 16px;
	margin-top: 10px;
}

.date-input{
	float: left;
	width: 75%;
}

.date-radio{
	float: right;
	width: 10%;
}