@CHARSET "UTF-8";

.pagination {
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.page {
	padding: 9px 9px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	font-size: 150%;
	font-weight: bold;
	color: #717171;
}

#delete-selected, #select-all {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	border: none;
	background-color: white;
	cursor: pointer;
}

#delete-selected{
	background-image: url("../images/icons/delete-phone.png");
}

#select-all {
	background-image: url("../images/icons/ok.png");
}

.send-div{
	width: 100px;
	margin: 0 auto;	
	position:relative;
	right:-121px;
	top:-28px;
}

.hidden-link{
	visibility: hidden;
}